:root {
  --navy-blue-color: var(--navy-blue-color);
  --iris-color: var(--iris-color);
  --ocean-color: var(--ocean-color);
  --slate-color: var(--slate-color);
  --white-color: var(--white-color);
  --cloud-color: var(--cloud-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--NAVY-BLUE, #2e2f42);
  color: var(--WHITE, #ffffff);
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-style: normal;
  background: var(--WHITE, #ffffff);
}

.customers_calc {
    width: 137px;
    height: 70px;
}

@media screen and (min-width: 480px) and (max-width: 767px){
    .strategy_calc {
        max-width: 480px;
        margin: 0 auto;
    }

    .customers_calc {
        width: auto;
        height: auto;
    }
}

/* ================================================= MOBILE 👇 ========================================= */

@media screen and (max-width: 767px) {
  .container {
  padding-left: 15px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
  }

  .list_nav {
    display: none;
  }

  .header_address {
    display: none;
  }

  .header_main {
    height: 70px;
    border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  }
  .header_div {
    display: flex;
    align-items: center;
    margin: 0;
      width: 100%;
  }
  .header_nav {
    display: flex;
    align-items: center;
  }
  .logo_web {
    color: var(--IRIS, #4d5ae5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
  }
  .logo_header {
    color: var(--NAVY-BLUE, #2e2f42);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .hamburger_menu {
    display: flex;
      margin-left: auto;
  }

    .hamburger_menu button {
        background-color: transparent;
        border: none;
    }
    .hamburger_menu svg {
        height: 40px;
        width: 40px;
    }

  .header_background {
    background: var(--NAVY-BLUE, #2e2f42);
    padding: 108px 0;
    height: 432px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img17.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .header-primary {
    color: var(--WHITE, #ffffff);
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 72px;
  }

  .button_first {
    padding: 16px 32px;
    background: var(--IRIS, #4d5ae5);
    border-radius: 4px;
    margin: 0 auto;
    text-align: center;
    min-width: 169px;
    border: none;
    display: block;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button_first:hover,
  .button_first:focus {
    background-color: var(--IRIS, #404bbf);
  }

  .button_text {
    font-family: "Roboto", sans-serif;
    color: var(--WHITE, #ffffff);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }

  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .section_strategy {
    padding-top: 96px;
    display: inline-flex;
    flex-direction: column;
    gap: 72px;
    width: 100%;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .list {
    list-style: none;
  }

  .list_strategy {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
    list-style-type: none;
  }

  .strategy_icons_backgr {
    display: none;
  }

  .terms {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
  }

  .terms_description {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    align-self: stretch;
    padding-bottom: 72px;
    width: 300px;
  }

  .section_doing {
    display: none;
  }

  .background {
    background-color: var(--CLOUD, #f4f4fd);
  }

  .header_fourth {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  .list_team {
    display: flex;
    gap: 24px;
    list-style-type: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .photo-team {
    width: calc((100%-72px) / 4);
    background: var(--WHITE, #fff);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .team_div {
    padding: 32px 0px;
  }

  .team_social_links {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
  }

  .social_icon_list {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social_icons {
    width: 100%;
    height: 100%;
    background-color: var(--WHITE, #4d5ae5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social_icons:hover,
  .social_icons:focus {
    background-color: #404bbf;
  }

  .icons_team {
    fill: var(--WHITE, #f4f4fd);
  }

  .terms_team {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
  }
  .terms_description_team {
    color: var(--SLATE, #434455);
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
    text-align: center;
  }

  .header_last {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  .list_customers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 4px;
    column-gap: 16px;
    row-gap: 72px;
    width: 400px;
    margin: 0 auto;
  }

  .customers_icons {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--LIGHT-SLATE, #8e8f99);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .customers_icons:hover,
  .customers_icons:focus {
    border-color: var(--OCEAN, #404bbf);
    color: var(--OCEAN, #404bbf);
  }

  .customers_logo {
    fill: currentColor;
    margin: 16px 40px;
  }

  .footer-part {
    background: var(--NAVY-BLUE, #2e2f42);
    padding: 100px 0;
  }

  .footer_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
  }

  .footer_logo {
    text-align: center;
  }

  .link_footer {
    display: inline-block;
    text-decoration: none;
    color: var(--NAVY-BLUE, #2e2f42);
    font-style: normal;
    list-style: none;
    margin-bottom: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link_footer:hover,
  .link_footer:focus {
    color: var(--IRIS, #404bbf);
    text-decoration: none;
  }

  .logo_web_footer {
    color: var(--IRIS, #4d5ae5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .logo_footer {
    color: var(--CLOUD, #f4f4fd);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .footer-text {
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--CLOUD, #f4f4fd);
    width: 264px;
    text-align: justify;
  }

  .mainheader_text_footer {
    color: var(--WHITE, #fff);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
  }

  .social_links_footer {
    display: flex;
    gap: 16px;
  }

  .social_icon_footer {
    width: 40px;
    height: 40px;
  }

  .social_media_link:hover,
  .social_media_link:focus {
    background-color: #31d0aa;
  }

  .social_media_link {
    width: 100%;
    height: 100%;
    background-color: var(--IRIS, #4d5ae5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social_media_fill {
    fill: var(--CLOUD, #f4f4fd);
  }

  .field_email_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form_email_footer {
    display: block;
    gap: 24px;
  }

  .label_email_footer {
    display: block;
    margin-bottom: 16px;
  }

  .input_email_footer {
    width: 420px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #ffffff;
  }

  .button_subscribe {
    display: block;
    background: var(--IRIS, #4d5ae5);
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    margin: 0 auto;
  }

  .svg_style_footer {
    margin-left: 16px;
  }

  .backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .modal_window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
  }

  .close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .close-btn:hover,
  .close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
  }

  .button_close_fill {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal_title {
    color: var(--NAVY-BLUE, #2e2f42);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }

  .field_name {
    margin-bottom: 8px;
  }

  .label_signup_form {
    display: block;
    color: var(--LIGHT-SLATE, #8e8f99);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
  }

  .input_svg_form {
    position: relative;
  }

  .input_signup_form {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .input_signup_form:hover,
  .input_signup_form:focus {
    border-color: var(--IRIS, #4d5ae5);
  }

  .input_signup_form:hover + svg {
    fill: #4d5ae5;
  }
  .input_signup_form:focus + svg {
    fill: #4d5ae5;
  }

  .field_icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translate(0, -50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .field_name_checkbox {
    margin-bottom: 16px;
  }

  .comment_field {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .comment_field:hover,
  .comment_field:focus {
    border-color: #4d5ae5;
  }

  .checkbox_modal {
    margin-bottom: 24px;
    position: relative;
  }

  .input_checkbox:checked + .checkbox_text_privacy span {
    background-color: var(--IRIS, #404bbf);
    border: none;
    fill: var(--CLOUD, #f4f4fd);
  }

  .checkbox_text_privacy {
    display: block;
    color: var(--LIGHT-SLATE, #8e8f99);
    font-size: 12px;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .checkbox_icon {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
  }

  .field_icon_checked {
    position: absolute;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .checkbox_text_link {
    color: var(--IRIS, #4d5ae5);
  }

  .button_send_modal {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background: #4d5ae5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 95px;
  }
}

.menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
  }

  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 80px 60px 40px 40px;
    background: var(--WHITE, #FFF);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }

  .menu-container.is-open {
    transform: translateX(0);
  }

  .mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 284px;
  }

  .mobile-menu .link {
    display: block;
    padding: 10px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: capitalize;
    color: #2e2f42;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu .link:hover,
  .mobile-menu .link:focus {
    color: #404bbf;
  }

  .list_nav_menu_modal {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 284px;
  }

  .list_nav_menu_modal .link {
    display: block;
    padding: 10px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: capitalize;
    color: #2e2f42;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .list_nav_menu_modal .link:hover,
  .list_nav_menu_modal .link:focus {
    color: #404bbf;
  }

  .list_address {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 48px;
  }

  .list_address .phone_number {
    color: #4d5ae5;
    font-family: inherit;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.72px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
  }

  .list_address .phone_number:hover,
  .list_address .phone_number:focus {
    color: #404bbf;
  }

  .list_address .address_email {
    color: #434455;
    font-family: inherit;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
  }

  .list_address .address_email:hover,
  .list_address .address_email:focus {
    color: #404bbf;
  }

  .moblie-social-links {
    list-style: none;
    display: flex;
    gap: 56px;
  }


/* ================================================= TABLET 👇 ========================================= */
@media screen and (min-width: 768px) and (max-width: 1199px){
    .section_doing {
        display: none;
    }
    .menu-container {
        display: none;
    }
    .container {
      max-width: 768px;
    }

      .header_main {
        border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
        display: flex;
        align-items: center;
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
          0px 2px 1px 0px rgba(46, 47, 66, 0.08);
      }

      .header_div {
        border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
        display: flex;
        align-items: center;
        margin: 0;
      }

      .header_nav {
        display: flex;
        align-items: center;
      }

      .header_nav .link {
        display: inline-block;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .header_nav .current .link::after {
        content: "";
        position: absolute;
        height: 4px;
        border-radius: 2px;
        background: var(--OCEAN, #404bbf);
        left: 0;
        right: 0;
        bottom: -1px;
      }

      .current a {
        color: #404bbf;
      }

      .list {
        display: inline-flex;
        list-style: none;
      }

      .list_nav {
        display: flex;
        align-items: center;
        gap: 40px;
      }

      .list_nav:first-child {
        margin-left: 0;
      }

      .list_nav:last-child {
        margin-right: 0;
      }

      .header_address {
        display: flex;
        margin-left: auto;
      }

      .header_address .link {
        display: inline-block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .list_address {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-bottom: 0;
      }

    .list_address li a {
        padding: 5px 0;
    }

      .hamburger_menu {
        display: none;
      }

      .section {
        padding-top: 120px;
        padding-bottom: 120px;
      }

      .section_portfolio {
        padding-top: 96px;
        padding-bottom: 120px;
      }

      .section_strategy {
        padding-top: 120px;
      }

      .section_doing {
        padding-top: 120px;
        padding-bottom: 120px;
      }

      .container {
        width: 100%;
        outline: 1px;
        margin: 0 auto;
        padding: 0 15px;
      }

      .link {
        text-decoration: none;
        color: var(--NAVY-BLUE, #2e2f42);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-style: normal;
        list-style: none;
        padding: 24px 0;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
      }

      .link:hover,
      .link:focus {
        color: var(--IRIS, #404bbf);
        text-decoration: none;
      }

      .link_address {
        color: var(--SLATE, #434455);
        font-weight: 400;
      }

      .header_background {
        background: var(--NAVY-BLUE, #2e2f42);
        padding: 188px 0;
        margin: 0 auto;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img17.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      .logo_web {
        color: var(--IRIS, #4d5ae5);
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        margin-right: 76px;
      }

      .logo_header {
        color: var(--NAVY-BLUE, #2e2f42);
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
      }

      .header-primary {
        color: var(--WHITE, #ffffff);
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        max-width: 496px;
        margin: 0 auto;
        margin-bottom: 48px;
      }

      .button_first {
        padding: 16px 32px;
        background: var(--IRIS, #4d5ae5);
        border-radius: 4px;
        margin: 0 auto;
        text-align: center;
        min-width: 169px;
        border: none;
        display: block;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .button_first:hover,
      .button_first:focus {
        background-color: var(--IRIS, #404bbf);
      }

      .button_text {
        font-family: "Roboto", sans-serif;
        color: var(--WHITE, #ffffff);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
      }

      .list_button {
        font-family: "Roboto", sans-serif;
        color: var(--IRIS, #4d5ae5);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background: var(--CLOUD, #f4f4fd);
        padding: 12px 24px;
        border: 1px solid #e7e9fc;
        border-radius: 4px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .list button:hover,
      .list button:focus {
        background: var(--OCEAN, #404bbf);
        color: var(--WHITE, #fff);
        cursor: pointer;
        border: 1px solid transparent;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      }

      .buttons_section_one {
        display: inline-flex;
        justify-content: center;
        gap: 24px;
        margin-bottom: 72px;
        display: flex;
      }

      .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }

      .list_strategy {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        list-style-type: none;
        max-width: 800px;
        margin: 0 auto 96px;
      }

      .strategy_calc {
        width: 48%;
      }

      .strategy_icons_backgr {
        display: none;
      }

      .terms {
        color: var(--NAVY-BLUE, #2e2f42);
        font-size: 36px;
        line-height: 1.2;
        font-weight: 500;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
      }

      .terms_team {
        color: var(--NAVY-BLUE, #2e2f42);
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        text-align: center;
      }

      .terms-portfolio {
        color: var(--NAVY-BLUE, #2e2f42);
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
      }

      .terms_description {
        color: var(--SLATE, #434455);
        font-weight: 400;
        letter-spacing: 0.02em;
        line-height: 1.5;
        align-items: flex-start;
      }

      .terms_description_team {
        color: var(--SLATE, #434455);
        font-weight: 400;
        letter-spacing: 0.02em;
        line-height: 1.5;
        text-align: center;
      }

      .terms-descrip-portf {
        color: var(--SLATE, #434455);
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.02em;
        line-height: 1.5;
        align-items: flex-start;
      }

      .list_doing {
        display: flex;
        gap: 24px;
        list-style-type: none;
      }

      .list_customers {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        list-style-type: none;
        width: 560px;
        margin: 0 auto;
      }

      .doing_calc {
        width: calc((100%-48px) / 3);
      }

      .header_third {
        color: var(--NAVY-BLUE, #2e2f42);
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
      }

      .background {
        background-color: var(--CLOUD, #f4f4fd);
      }

      .header_fourth {
        color: var(--NAVY-BLUE, #2e2f42);
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
      }

      .list_team {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        list-style-type: none;
      }

      .photo-team {
        width: calc((100%-72px) / 4);
        background: var(--WHITE, #fff);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
          0px 2px 1px rgba(46, 47, 66, 0.08);
      }

      .team_div {
        padding: 32px 0px;
      }

      .team_social_links {
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-top: 8px;
      }

      .social_icon_list {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .social_icons {
        width: 100%;
        height: 100%;
        background-color: var(--WHITE, #4d5ae5);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .social_icons:hover,
      .social_icons:focus {
        background-color: #404bbf;
      }

      .icons_team {
        fill: var(--WHITE, #f4f4fd);
      }

      .portfolio_div {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
      }

      .list_portf {
        display: flex;
        column-gap: 24px;
        row-gap: 24px;
        flex-wrap: wrap;
        list-style: none;
      }

      .photo_portf {
        width: calc((100% - 48px) / 3);
      }

      .portfolio_link {
        display: block;
        padding-top: 0;
        padding-bottom: 0;
      }

      .photo_portfolio_wrapper {
        position: relative;
        overflow: hidden;
      }

      .photo_portf a {
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .text_up {
        position: absolute;
        color: #f4f4fd;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        inset: 0;
        padding: 40px 32px;
        background-color: #4d5ae5;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .portfolio_link:focus .text_up,
      .portfolio_link:hover .text_up {
        translate: 0 0;
        transform: translateY(0%);
      }

      .header_last {
        color: var(--NAVY-BLUE, #2e2f42);
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        margin-bottom: 72px;
      }

      .customers_calc {
        display: flex;
        width: 168px;
        flex-wrap: nowrap;
        height: 88px;
        border-radius: 4px;
      }

      .customers_icons {
        width: 100%;
        height: 100%;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--LIGHT-SLATE, #8e8f99);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .customers_icons:hover,
      .customers_icons:focus {
        border-color: var(--OCEAN, #404bbf);
        color: var(--OCEAN, #404bbf);
      }

      .customers_logo {
        fill: currentColor;
      }

      .footer-part {
        background: var(--NAVY-BLUE, #2e2f42);
        align-items: center;
        justify-content: flex-start;
        padding: 100px 0;
      }

      .footer_content {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        width: 580px;
        margin: 0 auto;
      }

      .footer_logo {
        margin-right: 20px;
      }

      .link_footer {
        display: inline-block;
        text-decoration: none;
        color: var(--NAVY-BLUE, #2e2f42);
        font-style: normal;
        list-style: none;
        margin-bottom: 16px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .link_footer:hover,
      .link_footer:focus {
        color: var(--IRIS, #404bbf);
        text-decoration: none;
      }

      .logo_web_footer {
        color: var(--IRIS, #4d5ae5);
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
      }

      .logo_footer {
        color: var(--CLOUD, #f4f4fd);
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
      }

      .footer-text {
        line-height: 1.5;
        letter-spacing: 0.32px;
        color: var(--CLOUD, #f4f4fd);
        width: 264px;
      }

      .mainheader_text_footer {
        color: var(--WHITE, #fff);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
      }

      .social_links_footer {
        display: flex;
        gap: 16px;
      }

      .social_icon_footer {
        width: 40px;
        height: 40px;
      }

      .social_media_link:hover,
      .social_media_link:focus {
        background-color: #31d0aa;
      }

      .social_media_link {
        width: 100%;
        height: 100%;
        background-color: var(--IRIS, #4d5ae5);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .social_media_fill {
        fill: var(--CLOUD, #f4f4fd);
      }

      .field_email_footer {
        margin-top: 72px;
      }

      .form_email_footer {
        display: flex;
        gap: 24px;
      }

      .input_email_footer {
        width: 264px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid #ffffff;
        background-color: transparent;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding-left: 16px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: #ffffff;
      }

      .button_subscribe {
        background: var(--IRIS, #4d5ae5);
        border-radius: 4px;
        min-width: 165px;
        height: 40px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
      }

      .svg_style_footer {
        margin-left: 16px;
      }

      .backdrop {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }

      .modal_window {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 408px;
        min-height: 584px;
        background-color: #fcfcfc;
        border-radius: 4px;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
          0px 1px 1px 0px rgba(0, 0, 0, 0.14);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px 24px;
      }

      .close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .close-btn:hover,
      .close-btn:focus {
        background-color: #404bbf;
        border: none;
        fill: #ffffff;
      }

      .button_close_fill {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .modal_title {
        color: var(--NAVY-BLUE, #2e2f42);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
      }

      .field_name {
        margin-bottom: 8px;
      }

      .label_signup_form {
        display: block;
        color: var(--LIGHT-SLATE, #8e8f99);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        margin-bottom: 4px;
      }

      .input_svg_form {
        position: relative;
      }

      .input_signup_form {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        background-color: transparent;
        padding-left: 38px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .input_signup_form:hover,
      .input_signup_form:focus {
        border-color: var(--IRIS, #4d5ae5);
      }

      .input_signup_form:hover + svg {
        fill: #4d5ae5;
      }
      .input_signup_form:focus + svg {
        fill: #4d5ae5;
      }

      .field_icon {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translate(0, -50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .field_name_checkbox {
        margin-bottom: 16px;
      }

      .comment_field {
        width: 100%;
        height: 120px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .comment_field:hover,
      .comment_field:focus {
        border-color: #4d5ae5;
      }

      .checkbox_modal {
        margin-bottom: 24px;
        position: relative;
      }

      .input_checkbox:checked + .checkbox_text_privacy span {
        background-color: var(--IRIS, #404bbf);
        border: none;
        fill: var(--CLOUD, #f4f4fd);
      }

      .checkbox_text_privacy {
        display: block;
        color: var(--LIGHT-SLATE, #8e8f99);
        font-size: 12px;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: 0.04em;
      }

      .checkbox_icon {
        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
          fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
        margin-right: 8px;
      }

      .field_icon_checked {
        position: absolute;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .checkbox_text_link {
        color: var(--IRIS, #4d5ae5);
      }

      .button_send_modal {
        display: block;
        min-width: 169px;
        height: 56px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background: #4d5ae5;
        border: none;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin-left: 95px;
      }
    }

/* ================================================= DESKTOP 👇 ========================================= */
@media (min-width: 1200px)
{
    .menu-container {
        display: none;
    }
  .header_main {
    border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  }

  .header_div {
    border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
    display: flex;
    align-items: center;
  }

  .header_nav {
    display: flex;
    align-items: center;
  }

  .header_nav .link {
    display: inline-block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header_nav .current .link::after {
    content: "";
    position: absolute;
    height: 4px;
    border-radius: 2px;
    background: var(--OCEAN, #404bbf);
    left: 0;
    right: 0;
    bottom: -1px;
  }

  .current a {
    color: #404bbf;
  }

  .list {
    display: inline-flex;
    list-style: none;
  }

  .list_nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .list_nav:first-child {
    margin-left: 0;
  }

  .list_nav:last-child {
    margin-right: 0;
  }

  .header_address {
    display: flex;
    margin-left: auto;
  }

  .header_address .link {
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .list_address {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: auto;
  }

  .hamburger_menu {
    display: none;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .section_portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .section_strategy {
    padding-top: 120px;
  }

  .section_doing {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container {
    width: 1158px;
    outline: 1px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .link {
    text-decoration: none;
    color: var(--NAVY-BLUE, #2e2f42);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    list-style: none;
    padding: 24px 0;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }

  .link:hover,
  .link:focus {
    color: var(--IRIS, #404bbf);
    text-decoration: none;
  }

  .link_address {
    color: var(--SLATE, #434455);
    font-weight: 400;
  }

  .header_background {
    background: var(--NAVY-BLUE, #2e2f42);
    padding: 188px 0;
    margin: 0 auto;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img17.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .logo_web {
    color: var(--IRIS, #4d5ae5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
  }

  .logo_header {
    color: var(--NAVY-BLUE, #2e2f42);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .header-primary {
    color: var(--WHITE, #ffffff);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
  }

  .button_first {
    padding: 16px 32px;
    background: var(--IRIS, #4d5ae5);
    border-radius: 4px;
    margin: 0 auto;
    text-align: center;
    min-width: 169px;
    border: none;
    display: block;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button_first:hover,
  .button_first:focus {
    background-color: var(--IRIS, #404bbf);
  }

  .button_text {
    font-family: "Roboto", sans-serif;
    color: var(--WHITE, #ffffff);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }

  .list_button {
    font-family: "Roboto", sans-serif;
    color: var(--IRIS, #4d5ae5);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--CLOUD, #f4f4fd);
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .list button:hover,
  .list button:focus {
    background: var(--OCEAN, #404bbf);
    color: var(--WHITE, #fff);
    cursor: pointer;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  .buttons_section_one {
    display: inline-flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
    display: flex;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .list_strategy {
    display: flex;
    gap: 24px;
    list-style-type: none;
  }

  .strategy_calc {
    width: calc((100% - 72px) / 4);
  }

  .strategy_icons_backgr {
    display: flex;
    border-radius: 4px;
    background-color: #f4f4fd;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
  }

  .terms {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  .terms_team {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
  }

  .terms-portfolio {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  .terms_description {
    color: var(--SLATE, #434455);
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
    align-items: flex-start;
  }

  .terms_description_team {
    color: var(--SLATE, #434455);
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
    text-align: center;
  }

  .terms-descrip-portf {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
    align-items: flex-start;
  }

  .list_doing {
    display: flex;
    gap: 24px;
    list-style-type: none;
  }

  .list_customers {
    display: flex;
    gap: 24px;
    list-style-type: none;
  }

  .doing_calc {
    width: calc((100%-48px) / 3);
  }

  .header_third {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  .background {
    background-color: var(--CLOUD, #f4f4fd);
  }

  .header_fourth {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  .list_team {
    display: flex;
    gap: 24px;
    list-style-type: none;
  }

  .photo-team {
    width: calc((100%-72px) / 4);
    background: var(--WHITE, #fff);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .team_div {
    padding: 32px 0px;
  }

  .team_social_links {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
  }

  .social_icon_list {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social_icons {
    width: 100%;
    height: 100%;
    background-color: var(--WHITE, #4d5ae5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social_icons:hover,
  .social_icons:focus {
    background-color: #404bbf;
  }

  .icons_team {
    fill: var(--WHITE, #f4f4fd);
  }

  .portfolio_div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

  .list_portf {
    display: flex;
    column-gap: 24px;
    row-gap: 24px;
    flex-wrap: wrap;
    list-style: none;
  }

  .photo_portf {
    width: calc((100% - 48px) / 3);
  }

  .portfolio_link {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
  }

  .photo_portfolio_wrapper {
    position: relative;
    overflow: hidden;
  }

  .photo_portf a {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .text_up {
    position: absolute;
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    inset: 0;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio_link:focus .text_up,
  .portfolio_link:hover .text_up {
    translate: 0 0;
    transform: translateY(0%);
  }

  .header_last {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  .customers_calc {
    display: flex;
    width: calc((100% - 120px) / 6);
    flex-wrap: nowrap;
    height: 88px;
    border-radius: 4px;
  }

  .customers_icons {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--LIGHT-SLATE, #8e8f99);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .customers_icons:hover,
  .customers_icons:focus {
    border-color: var(--OCEAN, #404bbf);
    color: var(--OCEAN, #404bbf);
  }

  .customers_logo {
    fill: currentColor;
  }

  .footer-part {
    background: var(--NAVY-BLUE, #2e2f42);
    align-items: center;
    justify-content: flex-start;
    padding: 100px 0;
  }

  .footer_content {
    display: flex;
    align-items: baseline;
  }

  .footer_logo {
    margin-right: 120px;
  }

  .link_footer {
    display: inline-block;
    text-decoration: none;
    color: var(--NAVY-BLUE, #2e2f42);
    font-style: normal;
    list-style: none;
    margin-bottom: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link_footer:hover,
  .link_footer:focus {
    color: var(--IRIS, #404bbf);
    text-decoration: none;
  }

  .logo_web_footer {
    color: var(--IRIS, #4d5ae5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .logo_footer {
    color: var(--CLOUD, #f4f4fd);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .footer-text {
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--CLOUD, #f4f4fd);
    width: 264px;
  }

  .mainheader_text_footer {
    color: var(--WHITE, #fff);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }

  .social_links_footer {
    display: flex;
    gap: 16px;
  }

  .social_icon_footer {
    width: 40px;
    height: 40px;
  }

  .social_media_link:hover,
  .social_media_link:focus {
    background-color: #31d0aa;
  }

  .social_media_link {
    width: 100%;
    height: 100%;
    background-color: var(--IRIS, #4d5ae5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social_media_fill {
    fill: var(--CLOUD, #f4f4fd);
  }

  .field_email_footer {
    margin-left: 80px;
  }

  .form_email_footer {
    display: flex;
    gap: 24px;
  }

  .input_email_footer {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #ffffff;
  }

  .button_subscribe {
    background: var(--IRIS, #4d5ae5);
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
  }

  .svg_style_footer {
    margin-left: 16px;
  }

  .backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .modal_window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
  }

  .close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .close-btn:hover,
  .close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
  }

  .button_close_fill {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal_title {
    color: var(--NAVY-BLUE, #2e2f42);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }

  .field_name {
    margin-bottom: 8px;
  }

  .label_signup_form {
    display: block;
    color: var(--LIGHT-SLATE, #8e8f99);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
  }

  .input_svg_form {
    position: relative;
  }

  .input_signup_form {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .input_signup_form:hover,
  .input_signup_form:focus {
    border-color: var(--IRIS, #4d5ae5);
  }

  .input_signup_form:hover + svg {
    fill: #4d5ae5;
  }
  .input_signup_form:focus + svg {
    fill: #4d5ae5;
  }

  .field_icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translate(0, -50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .field_name_checkbox {
    margin-bottom: 16px;
  }

  .comment_field {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .comment_field:hover,
  .comment_field:focus {
    border-color: #4d5ae5;
  }

  .checkbox_modal {
    margin-bottom: 24px;
    position: relative;
  }

  .input_checkbox:checked + .checkbox_text_privacy span {
    background-color: var(--IRIS, #404bbf);
    border: none;
    fill: var(--CLOUD, #f4f4fd);
  }

  .checkbox_text_privacy {
    display: block;
    color: var(--LIGHT-SLATE, #8e8f99);
    font-size: 12px;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .checkbox_icon {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
  }

  .field_icon_checked {
    position: absolute;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .checkbox_text_link {
    color: var(--IRIS, #4d5ae5);
  }

  .button_send_modal {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background: #4d5ae5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 95px;
  }

    .list_address {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 479px) {
    .list_customers {
        width: 300px;
        margin: 0 auto;
    }

    .input_email_footer {
        width: 264px;
    }
}

@media screen and (min-device-pixel-ratio: 2) {
    .header_background {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img17.jpg);
    }
}
